<div class="container">
  <div class="row pt-3">
    <div class="col-sm-12">
      <p class="h3 font-weight-light">Lexicon</p>
    </div>
    <div class="col-sm-12">
      <p class="text-light-custom">Add new word</p>
    </div>
    <div class="col-sm-6">
      <label for="word">Word</label><br>
      <input name="word" type="text" value="" class="custom-input w-100" />
    </div>
    <div class="col-sm-2">
      <label for="value">Value</label><br>
      <input name="value" type="number" value="" class="custom-input w-100" />
    </div>
    <div class="col-sm-12 mb-3">
      <div class="btn btn-primary my-2">Add</div>
    </div>
    <div class="col-sm-8 mb-3">
      <div class="bg-light-custom px-3 words-holder custom-input ">
        <div class="row words border-custom">
          <div class="col-sm-7">
            <p class="pl-1">Word</p>
          </div>
          <div class="col-sm-3">
            <p class="pl-1 text-center ">-2</p>
          </div>
          <div class="col-sm-2">
            <p class="text-center delete">X</p>
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-8 mb-3">
      <button class="btn btn-success">Save</button>
    </div>

  </div>
</div>