.container{

}
.text-light-custom{
  color: rgb(247, 247, 255);
}
.custom-input{
  border-radius: 3px;
  border: none;
  padding: 0.4rem;
  background-color: rgb(44, 53, 88);
  color: rgb(247, 247, 255);
}
.bg-light-custom{
 background-color:  rgb(44, 53, 88);;
}
.words-holder{
  height: 250px;
}
.border-custom{
 border-bottom: 1px solid rgb(100, 109, 138);
}
.words{
  max-height: 25px !important;
}
.delete{
  cursor: pointer;
  color: rgb(221, 67, 67);
}
.delete:hover{
  color: red;
}
.filter-box{

  border-radius: 4px;
  width: 100px !important;
  background-color: rgb(44, 53, 88);
  height: auto;
}
.filter-box:hover{
  cursor: pointer;
}
.filter-wrapper{
max-height: 250px;
}