<div class="container">
  <div class="row pt-3">
    <div class="col-sm-12">
      <p class="h3 font-weight-light">Lexicon</p>
    </div>
    <div class="col-sm-12">
      <p class="text-light-custom">Add new word</p>
    </div>
    <div class="col-sm-6">
      <label for="word">Word</label><br>
      <input name="word" type="text" value="" class="custom-input w-100" />
    </div>
    <div class="col-sm-3">
      <label for="value">Value</label><br>
      <input name="value" type="number" value="" class="custom-input w-100" />
    </div>
    <div class="col-sm-12 mb-3">
      <div class="btn btn-primary my-2">Add</div>
      <hr class="bg-secondary">
    </div>

    <div class="col-sm-4">
      <div class="row filter-wrapper text-center pl-3">
        <div class="col-sm-12 mb-3 ">
          <p class="text-left h4 font-weight-light">Filter</p>
        </div>
        <div class="col-sm-7 filter-box p-1 m-1 text-center font-weight-light">
          <p class="mb-0 text-success">Positive</p>
          <span>24</span>
        </div>
        <div class="col-sm-7 filter-box p-1 m-1 text-center font-weight-light">
          <p class="mb-0 text-warning">Neutral</p>
          <span>24</span>
        </div>
        <div class="col-sm-7 filter-box p-1 m-1 text-center1 font-weight-light">
          <p class="mb-0 text-danger">Negative</p>
          <span>24</span>
        </div>
      </div>
    </div>

    <div class="col-sm-8 mb-3">
      <div class="bg-light-custom px-3 py-0 words-holder custom-input ">
        <div class="row  p-0">
          <div class="col-sm-12 p-0 words  border-custom d-flex">
            <p class="pl-1 m-0 w-50 d-inline ">Word</p>
            <p class="pl-1 text-center w-25 ">-2</p>
            <p class="text-center delete w-25">X</p>
          </div>
          <div class="col-sm-12 p-0 words  border-custom d-flex">
            <p class="pl-1 m-0 w-50 d-inline ">Word</p>
            <p class="pl-1 text-center w-25 ">-2</p>
            <p class="text-center delete w-25">X</p>
          </div>

        </div>
      </div>
    </div>
    <div class="col-sm-8 mb-3">
      <button class="btn btn-success">Save</button>
    </div>


  </div>
</div>