.container{
  min-height: 580px;
}
.text-light-custom{
  color: rgb(247, 247, 255);
}
.custom-input{
  border-radius: 3px;
  border: none;
  padding: 0.4rem;
  background-color: rgb(44, 53, 88);
  color: rgb(247, 247, 255);
}

.positive{
  color: rgb(37, 241, 37);
}
.negative{
  color: red;
}
.bg-light-custom{
 background-color:  rgb(44, 53, 88);;
}
.words-holder{
  height: 250px;
 
  overflow-y: auto;
}
.border-custom{
 border-bottom: 1px solid rgb(100, 109, 138);
}
.words{
  max-height: 35px !important;
}
.delete{
  cursor: pointer;
  color: rgb(221, 67, 67);
}
.delete:hover{
  color: red;
}
.filter-box{
  display: inline-block;
  border-radius: 4px;
  width: 120px !important;
  background-color: rgb(44, 53, 88);
  height: auto;
}
.filter-box:hover{
  cursor: pointer;
}
.filter-wrapper{
  
max-height: 250px;
}
.active{
  background-color: rgb(59, 69, 110);
}