<div class="container h-100">
  <div class="row pt-3">
    <div class="col-sm-12">
      <p class="h3 font-weight-light">Calculator</p>
    </div>
    <div class="col-sm-12">
      <p class="text-light-custom">Analaze text</p>
    </div>
    <div class="col-sm-10">
      <textarea rows="5" #textArea class="w-100 bg-light-custom text-light border-secondary border rounded"></textarea>
    </div>
    <div class="col-sm-12 mb-3">
      <hr class="bg-secondary">
      <p>Select a .txt file to analize</p>
      <input type="file" #textFile name="file" placeholder="Pick File" id="file" class="bg-light-custom"><br>
      <hr class="bg-secondary">
    </div>
    <div class="col-sm-12">
      <button class="btn btn-primary" [disabled]="analizingStage === 1" (click)="analize()">Analize</button>
      <hr class="bg-secondary">
    </div>
    <div class="col-sm-6" *ngIf="analizingStage === 2">
      <app-result-text [textResults]="textResults"></app-result-text>
    </div>
    <div class="col-sm-6" *ngIf="analizingStage === 2">
      <app-result-file [fileResults]="fileResults"></app-result-file>
    </div>
    <div class="text-center w-100" *ngIf="analizingStage == 0">
      <p class="text-center">Results</p>
    </div>
    <div class="text-center w-100" *ngIf="analizingStage == 1">
      <app-spinner></app-spinner>
    </div>






  </div>
</div>