<div class="container h-100">
  <div class="row pt-3">
    <div class="col-sm-12">
      <p class="h3 font-weight-light">Calculator</p>
    </div>
    <div class="col-sm-12">
      <p class="text-light-custom">Analaze text</p>
    </div>
    <div class="col-sm-10">
      <textarea rows="5" class="w-100 bg-light-custom text-light border-secondary border rounded"></textarea>
    </div>
    <div class="col-sm-12 mb-3">
      <hr class="bg-secondary">
      <p>Select a .txt file to analize</p>
      <input type="file" name="file" placeholder="Pick File" id="file" class="bg-light-custom"><br>
      <hr class="bg-secondary">
    </div>
    <div class="col-sm-12">
      <button class="btn btn-primary" (click)="analize()">Analize</button>
      <hr class="bg-secondary">
    </div>
    <div class="col-sm-5" *ngIf="stage === 3">
      <app-result-text></app-result-text>
    </div>
    <div class="col-sm-1" *ngIf="stage === 3">
      <div class="div-divider"></div>
    </div>
    <div class="col-sm-6" *ngIf="stage === 3">
      <app-result-file></app-result-file>
    </div>
    <div class="text-center w-100" *ngIf="stage != 3">
      <p class="text-center">Analizing...</p>
    </div>






  </div>
</div>