.bg-light-custom{
  background-color:  rgb(100, 109, 138);;
}

.pick-a-file{

  padding: 7px;
}
.container{
  min-height: 590px;
}
.div-divider{
  height: 100%;
  width: 2px;
  background-color: gray;
}
@media (max-width: 575px){
  .div-divider{
  height: 2px;
  width: 100%;
  background-color: gray;
}
}