.bg-secondary-custom{
  background-color: rgb(44, 53, 88);
}

.nav-list{
  list-style-type: none;
  padding: 0rem 1rem;
  
}
.h-100{
  height: 100% !important;
}
.link-item-custom{
  width: 100%;
  text-align: left;
  cursor: pointer;
  
}
.brand{
  margin-top: 1rem;
  text-decoration: none;
  cursor: pointer;
}




.activeRoute:active{
  color: green;
}
.link{
  text-decoration: none;
  color: #fff;
}
.activeRoute{
  color: rgb(251, 40, 75);
  border: none;
}
@media (min-width: 768px){
.border-custom{
  border: none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
}