<div class="row bg-secondary-custom border-custom h-100 p-0">
  <div class="col-sm-12 text-center pt-1">
    <a href="#" class="brand text-light">Sentiment Analizator</a>
    <hr>
    <ul class="nav-list w-100">
      <li class="link-item-custom">
        <a class="link" routerLink="/lexicon" routerLinkActive="activeRoute">Lexicon</a>
      </li>
      <li class="link-item-custom mt-2">
        <a class="link" routerLinkActive="activeRoute" routerLink="/calculator">Calculator</a>
      </li>
    </ul>
  </div>

</div>