.spinner{
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid rgb(100, 109, 138);
  border-radius: 50%;
  width: 70px;
  height: 70px;background-color: rgb(100, 109, 138);
  position: relative;
  
}
.spinner span{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@media (max-width: 575px){
.spinner{
  border: none;
  border-radius: 0%;
  background-color: transparent;
  width: auto;
  height: auto;
  position: relative;
   margin-bottom: 10px;
  
}
.spinner span{
  position: absolute;
  top: 0%;
  left: 13px;
  font-size: 20px;
 text-decoration: underline;

}
}