
.bg-dark-custom{
background-color: rgb(28, 32, 57);
color: rgb(247, 247, 255);
}
.border-custom{
  border-radius: 15px;
  border: none;
}
.h-100{
  min-height: 643px;
}
.layout-height{
  height: 100%;
}
.container{
  min-height: 643px;
  margin-top: 20px;
}
@media (max-width: 760px){
  .container{
  margin-top: 0px;
}
}